/* 
    Criando variaveis por meio de CSS puro.

    Dentro da psesudo-classe root, pode-se declarar variaveis.
    Para indicar que é uma variavel, basta adicionar -- antes do atributo.

    Para acessar essa variavel, basta usar a referencia var().

*/
:root {
    --bg-button: #f0f0f0; /*-- indica que é uma variavel*/
    --border-button: solid 1px #888;
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none; /*Retirando outline (linha de fora) após o clique*/
}

.button:active {
    background-color: #ccc;
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: #fa8231;
    color: #FFF;
}

.button.operation:active {
    background-color: #fa8231cc;
}