.calculator {
    /* background-color: red; */
    height: 320px;
    width: 235px;
    border-radius: 5px;
    overflow: hidden; /* Tudo que estiver além da calculadora será escondido */

    display: grid;
    grid-template-columns: repeat(4, 25%); /*Indicando que nosso template terá 4 colunas ocupando 25% cada*/
    grid-template-rows: 1fr 48px 48px 48px 48px 48px;
}